.createCard-container {

  padding: 2rem 1rem;
  border-radius: 8px;
  border: 1px solid var(--primary);
  color: var(--light);
  display: flex;
  align-items: center;
  place-content: center;
  max-width: 350px;
  box-shadow: 0 0 8px 0 var(--primary);
}

.createCard-text {
  color: var(--light);

}

.createCard-link {
  color: var(--primary);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;

}