:root {
    --primary: #ff5733;
    --primary-dark: #2c2b33;
    --light: #fff;
    --gray: #d3c7bb;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--primary-dark)
}

.navbar {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

read-more .logo {
    color: var(--light);
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    position: relative;
}

read-more .nav-links a {
    color: var(--light);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--primary-dark);
    /* Color al pasar el mouse */
}

.dropdown {
    position: relative;
}

.dropbtn {
    background: none;
    border: none;
    color: var(--light);
    font-size: 18px;
    cursor: pointer;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: var(--light);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--primary);
}

/* Estilo del botón de llamada a la acción */
.cta-button {
    background-color: var(--primary-dark);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ff7a47;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        background-color: var(--primary-dark);
        top: 60px;
        right: 0;
        width: 100%;
        display: none;
        /* Oculto por defecto */
    }

    .nav-links.active {
        display: flex;
        /* Mostrar cuando es activo */
    }
}